
/* -- Put fonts and other similar content,
 such as mobile device
  modifications, under main code -- */

/*= Universal Styles ==*/

body {
  background-color: black;
  color: white;
  margin: 0 8%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

/*====== Header ======*/

.c-one {

}

header {
 padding: 0 30%;
}

header h1 {
  text-align: center;
}

header h3 {
  text-align: center;
}

header nav {

}

.n-main ul {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.n-main ul li {
  list-style-type: none;
}

.n-main li a {
  text-decoration: underline;
  color: white;
}

.n-main a h3 {

}


/*====== Main =======*/

/* Grid */

.c-two {

}

.c-three {

}

.c-four {

}

/* Left Side Panel */

/* Main Content General Style Rules */

.container {

}

.story {

}

.article {

}

.panel {

}

.figure /* (Index.html figures affected only) */{

}

article {

}

article p {

}

article figure {

}

/* Right Side Panel */

/* Specified Main Content Style Rules */

.a-one {

}

.a-two {

}

/* (etc., etc.) */

/*=======================*/

/*===== Footer =====*/

/*= Font Families =*/

/*== Media modifications ==*/
