
/* -- Put fonts and other similar content,
 such as mobile device
  modifications, under main code -- */

/*= Universal Styles ==*/

body {
  background-color: black;
  color: white;
  margin: 0 8%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 550px 1fr;
  grid-column-gap: 20px;
}

/*====== Header ======*/

.c-one {

}

header {
 padding: 0 30%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

header h1 {

}

header h3 {

}

header nav {

}

.n-main ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
}

.n-main ul li {
  list-style-type: none;
}

.n-main li a {
  text-decoration: underline;
  color: white;
}

.n-main a h3 {

}


/*====== Main =======*/

/* Grid */

.c-two {

}

.c-three {

}

.c-four {

}

.panel {
  border: 5px solid orange;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  height: auto;
}

/* Left Side Panel */

/* Main Content General Style Rules */

.container {

}

.story {

}

.article {

}

.panel {

}

.figure /* (Index.html figures affected only) */{

}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: dense;
  border: 5px solid orange;
}

.container h3 {
 grid-area: 1 / 1 / 2 / 3;
 padding-top: 25%;
}

.container h3 a {
  text-decoration: underline;
  color: white;
}

.article p {
  grid-area: 1 / 2 / 1 / 4;
}

.story figure {
  grid-area: 2 / 2 / 3 / 4;
}

figure img {
  width: 100%;
}

.f-two img {
  height: 50%;
  width: 35%;
}

/* Right Side Panel */

/* Specified Main Content Style Rules */

.a-one {

}

.a-two {

}

/* (etc., etc.) */

/*=======================*/

/*===== Footer =====*/

/*= Font Families =*/

/*== Media modifications ==*/
