
/* -- Put fonts and other similar content,
 such as mobile device
  modifications, under main code -- */

/*= Universal Styles ==*/

body {
  background-color: black;
  color: white;
  margin: 0 8%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 575px 1fr;
  grid-column-gap: 20px;
}

/*====== Header ======*/

.c-one {

}

header {
 padding: 0 30%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
}

header h1 {

}

header h3 {

}

header nav {

}

.n-main ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 80%;
}

.n-main ul li {
  list-style-type: none;
}

.n-main li a {
  text-decoration: underline;
  color: white;
}

.n-main a h3 {

}


/*====== Main =======*/

/* Grid */

.c-two {

}

.c-three {

}

.c-four {

}

/* Left Side Panel */

/* Main Content General Style Rules */

.container {

}

.story {

}

.article {

}

.panel {

}

.figure /* (Index.html figures affected only) */{

}



.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
  width: 100%;
}

.story h3 {
 grid-area: 1 / 1 / 2 / 3;
}

.story p {
  grid-area: 1 / 2 / 5 / 3;
  width: 60%;
}

.story figure {
  grid-area: (below row end for above) / (same column start)
  / (row end based on image width) / (column end based on image height);
}

/* Right Side Panel */

/* Specified Main Content Style Rules */

.a-one {

}

.a-two {

}

/* (etc., etc.) */

/*=======================*/

/*===== Footer =====*/

/*= Font Families =*/

/*== Media modifications ==*/
